<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rattrapage Litzler David
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <br>
  <div>
    <div>
      <label>Login : </label>
      <input type="text" id="login"  class="form-control" />
      <br><br>
      <label>Password : </label>
      <input type="text" id="password"  class="form-control" />
    </div>
  </div>  
  <br>
  <p>
    <button type="submit" class="btn btn-dark">S'authentifier</button>
  </p> -->
  <br>
  <form [formGroup]="authForm">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Login : </label>
            <input name="login" formControlName="login">
        </div>
        <div class="form-field">
            <label>Password : </label>
            <input name="password" formControlName="password" 
                   type="password">
        </div>
    </fieldset>
    <br>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="Authentification()">S'authentifier</button>
    </div>
</form>
</ion-content>